*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second-background
{
    height: 97vh;
    width: 98.5%;
}
/*  introduction starts*/
.introduction
{
    height: 90%;
}
.main-intro-text
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
/* .image-intro
{
    height: 50%;
    width: 50%;
} */
/* .main-image-sizing
{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
} */