*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.white-background
{
    height: 100%;
    width: 90%;
}
/* .container
{
  margin-left: 150px;
  margin-right: 150px;
} */
.main-image
{
    background-image: url(https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&);
    height: 100%;
    width: 100%;
}